In [3]:
#1
# List of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
ages.sort()

# Find the min and max age
min_age = ages[0]
max_age = ages[-1]

# Add min and max age again to the list
ages.extend([min_age, max_age])

# Find the median age
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2
else:
    median_age = ages[n // 2]

# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of ages
age_range = max_age - min_age

print("Sorted ages:", ages)
print("Minimum age:", min_age)
print("Maximum age:", max_age)
print("Median age:", median_age)
print("Average age:", average_age)
print("Age range:", age_range)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Minimum age: 19
Maximum age: 26
Median age: 24.0
Average age: 22.75
Age range: 7

In [4]:
#2
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Fido'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5

# Create a student dictionary
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 25,
    'marital_status': 'Single',
    'skills': ['Python', 'Data Analysis'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

# Get the length of the student dictionary
student_length = len(student)

# Get the value of skills and check the data type
skills_value = student['skills']
skills_type = type(skills_value)

# Modify the skills values by adding one or two skills
student['skills'].extend(['JavaScript', 'Machine Learning'])

# Get the dictionary keys as a list
student_keys = list(student.keys())

# Get the dictionary values as a list
student_values = list(student.values())

# Output results
print("Dog dictionary:", dog)
print("Student dictionary length:", student_length)
print("Type of skills value:", skills_type)
print("Updated student dictionary with skills:", student)
print("Dictionary keys:", student_keys)
print("Dictionary values:", student_values)

Dog dictionary: {'name': 'Fido', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}
Student dictionary length: 9
Type of skills value: <class 'list'>
Updated student dictionary with skills: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Python', 'Data Analysis', 'JavaScript', 'Machine Learning'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary values: ['John', 'Doe', 'Male', 25, 'Single', ['Python', 'Data Analysis', 'JavaScript', 'Machine Learning'], 'USA', 'New York', '123 Main St']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [7]:
#3
sisters = ("Emily", "Sophia")
brothers = ("James", "Michael", "Daniel")

siblings = brothers + sisters

num_siblings = len(siblings)

family_members = ("Father's Name", "Mother's Name") + siblings

print("Siblings:", siblings)
print("Number of siblings:", num_siblings)
print("Family members:", family_members)

Siblings: ('James', 'Michael', 'Daniel', 'Emily', 'Sophia')
Number of siblings: 5
Family members: ("Father's Name", "Mother's Name", 'James', 'Michael', 'Daniel', 'Emily', 'Sophia')

In [12]:
#4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

length_it_companies = len(it_companies)

it_companies.add('Twitter')

it_companies.update(['LinkedIn', 'Uber', 'Airbnb'])

it_companies.discard('IBM')

joined_set = A.union(B)

intersection_set = A.intersection(B)

is_A_subset_of_B = A.issubset(B)

are_disjoint = A.isdisjoint(B)

joined_A_with_B = A.union(B)
joined_B_with_A = B.union(A)

symmetric_difference = A.symmetric_difference(B)

age_set = set(age)
length_age_list = len(age)
length_age_set = len(age_set)

print("Length of it_companies:", length_it_companies)
print("Updated it_companies:", it_companies)
print("Joined set of A and B:", joined_set)
print("Intersection of A and B:", intersection_set)
print("Is A subset of B:", is_A_subset_of_B)
print("Are A and B disjoint sets:", are_disjoint)
print("Joined A with B:", joined_A_with_B)
print("Joined B with A:", joined_B_with_A)
print("Symmetric difference between A and B:", symmetric_difference)
print("Length of age list:", length_age_list)
print("Length of age set:", length_age_set)

Length of it_companies: 7
Updated it_companies: {'Facebook', 'Twitter', 'Airbnb', 'Google', 'Oracle', 'LinkedIn', 'Uber', 'Apple', 'Microsoft', 'Amazon'}
Joined set of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
Joined A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joined B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

In [13]:
#5
import math

radius = 30

area_of_circle = math.pi * radius ** 2

circum_of_circle = 2 * math.pi * radius

print("Area of the circle:", area_of_circle)
print("Circumference of the circle:", circum_of_circle)

user_radius = float(input("Enter the radius of the circle (in meters): "))

user_area_of_circle = math.pi * user_radius ** 2

print("Area of the circle with radius", user_radius, "is:", user_area_of_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle (in meters): 30
Area of the circle with radius 30.0 is: 2827.4333882308138

In [14]:
#6
sentence = "I am a teacher and I love to inspire and teach people"

words = sentence.split()

unique_words = set(words)

num_unique_words = len(unique_words)

print("Number of unique words:", num_unique_words)

Number of unique words: 10

In [16]:
#7
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [17]:
#8
radius = 10
area = 3.14 * radius ** 2

result = "The area of a circle with radius {} is {} meters square.".format(radius, int(area))

print(result)

The area of a circle with radius 10 is 314 meters square.

In [20]:
#9
N = int(input("Enter the number of students: "))

weights_lbs = []

for i in range(N):
    weight_lbs = float(input("Enter the weight of student {}: ".format(i+1)))
    weights_lbs.append(weight_lbs)

weights_kgs = []
for weight_lbs in weights_lbs:
    weight_kgs = weight_lbs * 0.453592  # 1 lb = 0.453592 kg
    weights_kgs.append(round(weight_kgs, 2))  # Round to two decimal places

print("Weights in kilograms:", weights_kgs)

Enter the number of students: 2
Enter the weight of student 1: 121
Enter the weight of student 2: 129
Weights in kilograms: [54.88, 58.51]